/* reset */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* laout */
#wrap {
    width: 1200px;
    margin: 0 auto;
}
#header {
    width: 1200px;
    height: 100px;
    overflow: hidden;
}
#header .logo {
    float: left;
    padding: 20px;
}
#header .nav {
    float: right;
}
#header .nav li{
    display: inline;
}
#header .nav li a {
    display: inline-block;
    padding: 30px;
    color: #222328;
    font-size: 18px;
}
#slider {}
#info {}
#footer {}