#blogWrite {
    text-align: center;
    padding: 100px 0 0;
    h2 {
        margin-bottom: 60px;
    }
}
.write__inner {
    text-align: left;
    padding-bottom: 50px;
    @include border_bottom;

    legend {
        @include ir;
    }
    label {
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #blogCategory {
        width: 20%;
        padding: 10px;
        background: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 18px;
    }
    #blogTitle {
        width: 100%;
        @include input_style1;
        font-size: 18px;
        border: 0;
    }
    #blogContents {
        width: 100%;
        height: 400px;
        resize: none;
        background: #fff;
        border: 0;
        border-radius: 5px;
        padding: 20px;
        font-size: 18px;
        box-sizing: border-box;
    }
    #blogFile {
        width: 100%;
        background: #fff;
        border: 0;
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
        box-sizing: border-box;
    }
    button {
        @include btn_style1;
        float: right;
        margin-top: 20px;
    }
}

#blogSearch {
    text-align: center;
    padding: 100px 0;
    border-bottom: 3px solid #000;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    legend {
        @include blind;
    }
    input {
        border: 1px solid #eee;
        padding: 12px 30px;
        font-size: 20px;
        border-radius: 50px;
    }
    button {
        background: #000;
        font-size: 20px;
        border-radius: 50px;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
    }
}

// viewPage
.blog__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog__title {
    width: 100%;
    padding: 70px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 50px 0;
    position: relative;
    z-index: 10;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}
.blog__title__cate {
    background: #000;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 20px;
    border-radius: 30px;
    display: inline-block;
}
.blog__title__h1 {
    font-size: 34px;
    margin-bottom: 20px;
    padding: 20px;
    word-break: keep-all;
}
.blog__title__info {
    .author {
    }
    .date {
    }
    .modify {
    }
    .delete {
    }

    a {
        color: #fff;
        font-size: 14px;
        padding-top: 10px;
        display: inline-block;
        font-weight: 300;
    }
}

.blog__contents {
    width: 70%;
    border-right: 1px solid #000;
    padding-right: 30px;
    box-sizing: border-box;
}
.blog__contents__ad {
    @include border-bottom;
    @include border_top;
    margin-bottom: 50px;
    > div {
        background: rgba(0, 0, 0, 0.1);
        margin: 20px 0;
        height: 100px;
    }
}
.blog__contents__cont {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.5;
}
.blog__contents__comment {
    margin-top: 100px;
    border-top: 2px solid #000;

    h3 {
        display: inline-block;
        background: #000;
        color: #fff;
        margin-bottom: 50px;
    }
}
.comment {
    margin-bottom: 80px;
}
.comment__view {
    display: flex;
    margin-bottom: 10px;
    align-items: end;
    justify-content: space-between;
}
.comment__view__img {
    width: 10%;
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}
.comment__view__data {
    width: 20%;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-weight: 300;
    .name {
        display: block;
    }
    .date {
        display: block;
    }
}

.comment__view__msg {
    width: 66%;
    border-bottom: 1px solid #000;
    line-height: 1.4;
    padding-bottom: 5px;
}
.comment__del {
    text-align: right;
    margin-top: -5px;
    line-height: 1.4;
    a {
        &:hover {
            text-decoration: underline;
            text-underline-position: under;
        }
    }
}
.comment__del__delete {
}
.comment__del__mod {
}
.comment__write {
    padding: 20px;
    background: #d4d4d4;

    label {
        @include blind;
    }
    input {
        bottom: 0;
        padding: 20px;
        border-radius: 50px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    button {
        margin-top: 20px;
        bottom: 0;
        background: #000;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
    }
}
.comment__write__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
        width: 32%;
    }
}
.comment__write__msg {
    input {
        width: 100%;
    }
}

.blog__aside {
    width: 30%;
    padding-left: 30px;
    box-sizing: border-box;
}
.blog__aside__intro {
    border-top: 0 !important;
    .img {
        margin: 0 10% 0 10%;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .intro {
        text-align: center;
        padding: 10px;
        line-height: 1.4;
        font-weight: 300;
    }
}
.blog__aside__ad {
}

[class^="blog__aside__"] {
    border-top: 1px solid #000;
    margin-bottom: 50px;
    h3 {
        background: #000;
        display: inline-block;
        color: #fff;
        margin-bottom: 2px;
        padding: 1px 10px 2px 10px;
    }
}
.blog__aside__cate {
    li {
        border-bottom: 1px solid #000;

        a {
            display: inline-block;
            padding: 10px 0;
        }
        &:hover {
            background: #000;
            a {
                color: #fff;
            }
            transition: all 0.3s;
        }
    }
}
.blog__aside__new {
    li {
        position: relative;
        border-bottom: 1px solid #000;
        a {
            display: block;
            span {
                position: absolute;
                left: 10px;
                top: 0px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                background: #000;
            }
            img {
                object-fit: cover;
                height: 100%;
            }
            em {
                font-weight: 300;
                box-sizing: border-box;
                @include row2;
                line-height: 1.6;
                margin: 16px 10px 16px 70px;
                min-height: 48px;
            }
            &:hover em {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}
.blog__aside__pop {
    li {
        a {
            span {
                display: block;
                height: 50px;
                overflow: hidden;
                // border-radius: 10px;
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
            em {
                display: block;
                font-weight: 300;
                padding: 10px;
            }
        }
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }
}
.blog__aside__comment {
}

.blog__relation {
    width: 100%;
}
