.card__inner {
    background-color: #cdcdcd;
    display: flex;
    justify-content: space-between;
}
.card__cot {
    position: relative;
    border: 1px solid #666;
    background: #fff;
    width: 32%;
    text-align: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}
.card__cot h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.card__cot figure {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card__cot ul {
}
.card__cot li {
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card__cot .plus {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background-image: url(../img/plus.jpg);
    background-size: cover;
}
