#footer {
    background-color: rgb(100, 152, 255);
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    padding: 20px 20px;
}
#footer .top img {
    height: 80px;
    width: 80px;
}
#footer .top {
    width: 18%;
    text-align: center;
}
#footer .top h3 {
    font-size: 30px;
}
#footer .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}
#footer .bottom {
    width: 28%;
    display: flex;
    align-items: center;
}

#footer .bottom img {
    height: 50px;
    width: 80px;
}
