.slider__wrap {
}
.slider__inner {
    height: 400px;
    width: 800px;
    overflow: hidden;
}
.slider__img {
    width: 820px;
    height: 1200px;
}
.slider {
    width: 800px;
    height: 400px;
}
