button {
	background-color: transparent;
}
textarea {
	vertical-align: top;
}

.board_wrap .board_inner .board_box .board_desc {
	padding-bottom: 80px;
	border-bottom: none;
}

.board__view {
	border-bottom: 2px solid #dcdcdc;
}
.board__view__title {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #388fc0;
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.board__view__title h3 {
	font-size: 25px;
	color: #666666;
	font-weight: 700;
}
.board__view__flex {
	display: flex;
	align-items: center;
}

.board_wrap .board_inner .board_box .board__view__flex p {
	display: block;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 500;
	color: #999999;
}

.board_wrap .board_inner .board_box .board__view__flex p {
	margin-right: 20px;
}
.board_wrap .board_inner .board_box .board__view__flex p:last-child {
	margin-right: 0;
}
.board__view__desc {
	width: 100%;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.4;
	min-height: 500px;
	color: #666666;
}

.btn_group {
	text-align: right;
	margin-bottom: 20px;
}
.btn_group button {
	display: inline-block;
	cursor: pointer;
}
.btn_save {
	background: #388fc0;
	border: 1px solid #388fc0;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	padding: 11px 34px;
	color: #ffffff;
	cursor: pointer;
}
.btn_modify {
	background: #388fc0;
	border: 1px solid #388fc0;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	padding: 11px 34px;
	color: #ffffff;
	cursor: pointer;
}
.btn_delete {
	background: #fff;
	border: 1px solid #388fc0;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	padding: 11px 34px;
	color: #388fc0;
	cursor: pointer;
}
.board__comments {
	padding-top: 20px;
}
.board__comments h3 {
	font-weight: 700;
	font-size: 25px;
	line-height: 29px;
	color: #666666;
	margin-bottom: 50px;
}

/* comment */
.comment {
	border-bottom: 2px solid #dcdcdc;
	margin-bottom: 20px;
}

.userComment__inner {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	height: 58px;
	box-sizing: border-box;
}
.userIcon {
	width: 50px;
	height: 50px;
}
.userIcon img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.userComment {
	position: relative;
	width: 100%;
	margin-left: 10px;
}
.userComment.login textarea {
	height: 60px;
	padding: 20px 20px 10px 20px;
	color: #666666;
}

.userComment textarea {
	width: 100%;
	height: 58px;
	background: #ffffff;
	border: 1px solid #646464;
	border-radius: 4px;
	resize: none;
	font-size: 16px;
	padding: 10px 20px;
	box-sizing: border-box;
	cursor: text;
}

.userComment p {
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 16px;
	margin: 0;
	color: #999999;
}
.userComment a {
	font-size: 16px;
	margin: 0;
	color: #388fc0;
}
.commentBtn {
	text-align: right;
	margin-bottom: 20px;
}
.commentBtn button {
	background: #388fc0;
	border: 1px solid #388fc0;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	padding: 11px 34px;
	color: #ffffff;
	cursor: pointer;
}
.userComments {
}
.userComments li {
	border-bottom: 2px solid #dcdcdc;
	margin-bottom: 20px;
}

.userComments__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.userComments__title {
	display: flex;
	align-items: flex-start;
}
.userComments__name {
	margin-left: 10px;
	position: relative;
}
.userComments__name a {
	font-weight: 700;
	font-size: 16px;
	/* margin-bottom: 3px; */
	display: block;
	color: #666666;
	z-index: 1;
}
.userComments__name p {
	text-align: left;
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	color: #999999;
	position: absolute;
	bottom: -20px;
	width: 80px;
}
.userComments__like {
	display: flex;
	margin-left: 10px;
	/* margin-bottom: 10px; */
	align-items: center;
}
.userComments__like img {
	width: 15px;
	height: 15px;
}
.userComments__like span {
	font-weight: 500;
	font-size: 12px;
	margin-left: 2px;
	color: #999;
}
.userComments__modify button,
.userComments__modify span {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #666666;
	cursor: pointer;
}
.userComments__desc p {
	display: block;
	margin: 0;
	margin-left: 58px;
	text-align: initial;
	font-weight: 500;
	font-size: 18px;
	color: #666666;
	margin-bottom: 10px;
}
.userComments__comment {
	margin-left: 58px;
	margin-bottom: 16px;
}
.userComments__comment button {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #999999;
}
.userComments__comment .view {
	color: #388fc0;
}
.userComments__comment .view::before {
	content: "";
	background: url(../img/caretUp.svg);
	width: 14px;
	height: 14px;
	padding: 0px 7px;
	background-repeat: no-repeat;
}
.userComments__comment .view.noview::before {
	content: "";
	background: url(../img/caretDown.svg);
	width: 14px;
	height: 14px;
	padding: 0px 7px;
	background-repeat: no-repeat;
}
.userComments__comment .write.noview {
	margin-left: 0;
}
.userComments__comment .write {
	margin-left: 10px;
}
.userComments__comment .view:hover,
.userComments__comment .write:hover {
	text-decoration: underline;
}
/* 
data-placeholder=
position: absolute;
    color: #aaa;
    pointer-events: none;
    height: 0;
    font-style: italic;
    content: attr(data-placeholder);
} */

.leftLine {
	padding-left: 20px;
	margin-left: 65px;
	border-left: 2px solid #dcdcdc;
}
.leftLine .comment {
	border-bottom: 2px dashed #dcdcdc;
}
.leftLine > div:last-child.comment {
	border: none;
}
.leftLine .userComments ul li {
	border-bottom: 2px dashed #dcdcdc;
}
.leftLine .userComments ul li:last-child {
	border: none;
}
.leftLine .userComments ul li .userComments__desc p {
	margin-bottom: 20px;
}

.userComments li > .comment {
	margin-bottom: 0;
	border: none;
}

@media (max-width: 1220px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 748px) {
	.container {
		width: 96%;
	}
	.board_wrap .board_inner .board_box .board_desc {
		padding-bottom: 40px;
	}
	.board__view__title h3 {
		font-size: 20px;
	}
	.board_wrap .board_inner .board_box .board__view__flex p {
		font-size: 14px;
	}
	.board_wrap .board_inner .board_box .board__view__flex p {
		margin-right: 10px;
	}
	.board_wrap .board_inner .board_box .board__view__flex p:last-child {
		margin-right: 0;
	}
	.board__view__desc {
		font-size: 16px;
		min-height: 300px;
	}

	.board__comments h3 {
		font-size: 18px;
	}
	.userComment p {
		font-size: 16px;
	}
	.userComments__desc p {
		font-size: 16px;
	}
	.userComment textarea {
		font-size: 16px;
	}

	.views {
		display: none;
	}
	.board_wrap .board_inner .board_box .board__view__flex p:nth-child(2) {
		margin-right: 0;
	}
	/* .board_wrap .board_inner .board_box .board__view__flex p em {
        display: block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;
        background: url(../img/view_ico.svg);
        width: 13.63px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        margin-right: 10px;
    } */
	.board__comments h3 {
		font-size: 20px;
		margin-bottom: 23px;
	}
	.commentBtn button {
		padding: 6px 7px;
	}
	.btn_save {
		padding: 6px 7px;
	}
	.btn_modify {
		padding: 6px 7px;
	}
	.btn_delete {
		padding: 6px 7px;
	}
	.userComments__desc p {
		margin-left: 0;
		font-size: 16px;
	}
	.userComments__comment {
		margin-left: 0;
	}
	.leftLine {
		margin-left: 6px;
	}
	.userIcon {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 480px) {
	.board__view__title h3 {
		font-size: 18px;
	}
	.board_wrap .board_inner .board_box .board__view__flex p {
		display: block;
		margin-bottom: 0;
		font-size: 12px;
		font-weight: 500;
		color: #777777;
	}
	.board__view__desc {
		font-size: 14px;
		min-height: 200px;
	}

	.board__comments h3 {
		font-size: 18px;
	}
	.userComment p {
		font-size: 14px;
	}
	.userComments__desc p {
		font-size: 14px;
	}
	.userComment textarea {
		font-size: 14px;
	}
}
