* {
    font-family: 'GmarketSans';
}
#main {
    margin-bottom: 30px;
}
/* container */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
}
#header .header_wrap {
}
#header .header_wrap .header__inner {
}

/* ham */
.toggle {
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
    cursor: pointer;
}
.toggle span {
    display: block;
    background: #1363df;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    transition: 0.25s margin 0.25s, 0.25s transform;
}
.toggle span:nth-child(1) {
    margin-bottom: 5px;
}
.toggle span:nth-child(3) {
    margin-top: 5px;
}
.toggle.active span {
    transition: 0.25s margin, 0.25s transform 0.25s;
}
.toggle.active span:nth-child(1) {
    margin-top: 8px;
    margin-bottom: -4px;
    transform: rotate(45deg);
}
.toggle.active span:nth-child(2) {
    transform: rotate(45deg);
}
.toggle.active span:nth-child(3) {
    margin-top: -4px;
    transform: rotate(135deg);
}

/* header__top */
.header__top {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}
.header__top .headerTop__inner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.headerTop__inner .logo {
}
.headerTop__inner .logo h1 {
}
.headerTop__inner .logo h1 a {
    font-size: 35px;
    font-weight: 700;
    color: #06283d;
}
.headerTop__inner .logo h1 a em {
    color: #1363df;
}

/* 로그인 했을 때 프로필 네비게이션 */
.headerTop__inner > .profile {
    position: relative;
}
.headerTop__inner > .profile > figure {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    overflow: hidden;
}
.headerTop__inner > .profile > figure > img {
}
.headerTop__inner > .profile > .profile__nav {
    text-align: center;
    position: absolute;
    height: 140px;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    display: none;
}
.headerTop__inner > .profile > .profile__nav::after {
    display: none;
}
.headerTop__inner > .profile > .profile__nav > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.headerTop__inner > .profile > .profile__nav > ul > li {
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
}
.headerTop__inner > .profile > .profile__nav > ul > li:last-child {
    border: 0;
}

.headerTop__inner > .profile > .profile__nav > ul > li > a {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 20px 15px 20px;
    color: #555;
    font-size: 13px;
    white-space: nowrap;
    transition: background-color 0.2s;
}
.headerTop__inner > .profile > .profile__nav > ul > li > a:last-child {
}
.headerTop__inner > .profile > .profile__nav > ul > li > a:hover {
    color: #1365df;
}

.headerTop__inner nav {
}
.headerTop__inner nav ul {
}
.headerTop__inner nav ul li {
    position: relative;
    margin: 0 20px;
    display: inline-block;
}
.headerTop__inner nav ul li::after {
    position: absolute;
    top: 0px;
    right: -24px;
    content: '';
    width: 1px;
    height: 20px;
    background-color: #dcdcdc;
}
.headerTop__inner nav ul li:last-child::after {
    content: none;
}

.headerTop__inner nav ul li:hover a {
    color: #1363df;
    border-bottom: 2px solid #1363df;
}
.headerTop__inner nav ul li.active a {
    color: #1363df;
    border-bottom: 2px solid #1363df;
}
.headerTop__inner nav ul li a {
    padding-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.headerTop__inner > a {
    font-size: 14px;
    color: #1363df;
    padding: 10px 20px;
    border: 1px solid #1363df;
    transition: background-color 0.2s;
}
.headerTop__inner > a:hover {
    background-color: #1363df;
    color: #fff;
}

/* header__bottom */
.header__bottom {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}
.header__bottom .headerBottom__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header__search {
    width: 50%;
    position: relative;
    margin-right: 10px;
    background-color: #f5f5f5;
}
.header__search::before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('../image/header_search_ico01.svg');
    background-repeat: no-repeat;
    z-index: 1;
}
.header__search input {
    font-family: 'GmarketSans';
    color: #555;
    width: -webkit-fill-available;
    padding: 10px 10px 10px 30px;
    border: 1px solid #1363df;
}

.header__search input::placeholder {
    color: #aaa;
}

.headerBottom__inner button {
    cursor: pointer;
    padding: 11px;
    background-color: #1363df;
    color: #fff;
    transition: transform 0.15s, box-shadow 0.15s;
}
.headerBottom__inner button:hover {
    transform: scale(1.04);
    box-shadow: 0 0 5px #1363df;
}

@media (max-width: 1220px) {
    .container {
        width: 98%;
    }
}

@media (max-width: 780px) {
    .toggle {
        display: block;
    }
    .headerTop__inner nav {
        display: none;
    }
    .headerTop__inner nav.show {
        position: relative;
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 20px 20px 10px 20px;
        background-color: #fff;
        z-index: 100;
        border: 1px solid #dcdcdc;
    }
    .headerTop__inner nav.show ul li {
        display: block;
        margin-bottom: 25px;
    }
    .headerTop__inner nav ul li::after {
        display: none;
    }

    .headerTop__inner > a {
        position: absolute;
        right: 60px;
    }
    .header__search {
        width: 70%;
    }
}

/* footer */
#footer {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 7777;
}
#footer .footer_inner {
    border-top: 1px solid #dcdcdc;
}
#footer .footer_inner .footer_wrap {
    background-color: #f8f8f8;
}

/* footer_top text */
.footer_wrap h2 {
    text-align: center;
    color: #888;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
}
.footer_wrap h2 em {
    color: #2977b9;
    font-weight: 700;
}

/* ---footer_bottom--- */
.footer_bottom {
    display: flex;
    flex-wrap: wrap;
}

/* footer_left */
.footer_left {
    width: 49%;
}
.footer_left p {
    line-height: 1.4;
    color: #999;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    word-break: keep-all;
}
.footer_left a {
    display: inline-block;
    line-height: 1.4;
    color: #999;
    font-size: 14px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.footer_left figure {
}
.footer_left figure a {
}

/* footer_right */
.footer_right {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    justify-content: flex-end;
}
.footer_right .footer_menu {
}
.footer_right .footer_menu h3 {
    color: #777;
    text-align: end;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer_right .footer_menu ul {
    margin-left: 130px;
}
.footer_right .footer_menu ul li {
    text-align: end;
    margin-bottom: 10px;
}
.footer_right .footer_menu ul li a {
    font-size: 14px;
    color: #999;
}

@media (max-width: 1220px) {
    .footer_bottom {
        width: 96%;
    }
    .footer_left a {
        margin-right: 20px;
    }
    .footer_right .footer_menu ul {
        margin-left: 50px;
    }
}
@media (max-width: 748px) {
    .footer_wrap h2 {
        font-size: 18px;
    }
    .footer_bottom {
        width: 96%;
    }
    .footer_left {
        margin: 0 auto;
        text-align: center;
        width: 96%;
    }
    .footer_left a {
        margin-right: 10px;
    }
    .footer_right .footer_menu {
        display: none;
        width: 0;
    }
}
