/* 웹폰트 */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

/* 리셋 */
/* 여백 초기화 */
* {
    font-family: 'NexonLv1Gothic';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
}

/* 링크 초기화 */
a {
    text-decoration: none;
    color: #222;
}

/* 목록 초기화 */
li {
    list-style: none;
}
/* 제목 초기화 */
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
/* 모든 페이지 레이아웃 */
body {
    padding: 40px;
}
#header {
    border-bottom: 1px dashed #dcdcdc;
    padding-bottom: 40px;
}

#main {
    border-bottom: 1px dashed #dcdcdc;
    padding: 40px 0;
}

#footer {
    border-bottom: 1px dashed #dcdcdc;
    padding: 40px 0;
    text-align: center;
}
#footer a:hover {
    text-decoration: underline;
}

/* header 영역 */

#header h1 {
    font-size: 60px;
}

#header h1 a {
    font-size: 60px;
}

.header_nav ul li {
    display: inline;

}
.header_nav ul li.active a {
    background-color: #000;
    color: #fff;
}
.header_nav ul li a {
    display: inline-block;
    border: 1px solid #222;
    padding: 8px 25px;
    margin-bottom: 7px;
}
.header_nav ul li a:hover {
    background-color: #222;
    color: #fff;
}
.header_nav .study {
    margin-top: 10px;
}
.header_nav .study li a {
    border-radius: 50px;
    padding: 6px 30px;
    background-color: #000;
    color: #fff;
}
.header_nav .study li a:hover {
    background-color: #fff;
    color: #000;
}
.header_nav .effect ul {
    margin-top: 10px;
}
.header_nav .effect li a {
    border-radius: 40px;
}

/* main sample 영역 */
.main_sample {
    margin-top: 40px;
    border-top: 1px dashed #dcdcdc;
    padding-top: 40px;
}

.main_sample h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.main_sample p {
    margin-bottom: 10px;
    color: #666;
}

.main_sample .result {
    margin-bottom: 80px;
}

/* sample */
.sample {
    margin-bottom: 80px;
}
.sample .table table {
    margin-bottom: 10px;
}
.sample .table table {
    width: 100%;
    border: 1px solid #e6e6e6;
}
.sample .table table tr th {
    font-weight: normal;
    background-color: #f5f5f5;
    padding: 3px;
}
.sample .table table tr td {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 6px;
}
.sample .table table tr td[Class*="_P"] { /*속성 선택자*/
    color: #fff;
}
.sample .table table tr td[Class*="_P"]:hover { /*속성 선택자*/
    color: #000;
    cursor: help;
}
.sample .box {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #666;
}


@media (max-width: 800px) {
    .sample .table {
        overflow-x: scroll;
    }
    .sample .t_box table {
        width: 780px;
    }
    .sample .table table tr td[Class*="_P"] { /*속성 선택자*/
        color: #000;
    }
}
/* Tistroy 용 문서 */

.document i {
    position: relative;
    font-style: normal;
}
.document hr {
    border: 0;
    border-top: 1px dashed #dcdcdc;
    margin-top: 45px;
}
.document i::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #0242f136;
}
.document .t_tit {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_tit2 {
    font-size: 22px;
    line-height: 1.6;
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_tit3 {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_desc {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px !important;
}
.document .t_desc2 {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px !important;
    padding: 15px 20px !important;
    border-left: 4px solid #0243f1;
    background-color: #f9f9f9;
}
.document .t_box {
    padding: 20px !important;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    color: #666;
    border-radius: 5px;
}
.document .t_table {
    border: 1px solid #f9f9f9;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.document .t_table tr th {
    background-color: #f9f9f9;
}
.document .t_table tr th,
.document .t_table tr td {
    border: 1px solid #dcdcdc;
    font-weight: normal;
    padding: 8px 10px;
    color: #666;
}
.document .t_table .ce {
    text-align: center;
}

.document .t_result {
    margin-bottom: 40px;
}

.document .t_iframe {
    position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;
}

.document .t_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}

.document .t_link a {
    display: block;
    width: 200px;
    background: #f5f5f5;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
}
.document .t_link a:hover {
    background-color: #a6a6a6;
}


/* Mobile */
@media (max-width: 800px) {
    body {
        padding: 20px;
    }
}







/* pre */
.t_code pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 20px;
    font-family: 'NexonLv1Gothic';
    line-height: 1.6;
    margin-bottom: 20px;
    border-radius: 5px;
}
.t_code code.hljs {
    padding: 3px 5px
}
.t_code .hljs {
    color: #E9E9F4;
    background: #282936
}
.t_code .hljs ::selection,
.t_code .hljs::selection {
    background-color: #4D4F68;
    color: #E9E9F4
}
.t_code .hljs-comment {
    color: #626483
}
.t_code .hljs-tag {
    color: #62D6E8
}
.t_code .hljs-operator,
.t_code .hljs-punctuation,
.t_code .hljs-subst {
    color: #E9E9F4
}
.t_code .hljs-operator {
    opacity: .7
}
.t_code .hljs-bullet,
.t_code .hljs-deletion,
.t_code .hljs-name,
.t_code .hljs-selector-tag,
.t_code .hljs-template-variable,
.t_code .hljs-variable {
    color: #EA51B2
}
.t_code .hljs-attr,
.t_code .hljs-link,
.t_code .hljs-literal,
.t_code .hljs-number,
.t_code .hljs-symbol,
.t_code .hljs-variable.constant_ {
    color: #B45BCF
}
.t_code .hljs-class .hljs-title,
.t_code .hljs-title,
.t_code .hljs-title.class_ {
    color: #00F769
}
.t_code .hljs-strong {
    font-weight: 700;
    color: #00F769
}
.t_code .hljs-addition,
.t_code .hljs-code,
.t_code .hljs-string,
.t_code .hljs-title.class_.inherited__ {
    color: #EBFF87
}
.t_code .hljs-built_in,
.t_code .hljs-doctag,
.t_code .hljs-keyword.hljs-atrule,
.t_code .hljs-quote,
.t_code .hljs-regexp {
    color: #A1EFE4
}
.t_code .hljs-attribute,
.t_code .hljs-function .hljs-title,
.t_code .hljs-section,
.t_code .hljs-title.function_,
.t_code .ruby .hljs-property {
    color: #62D6E8
}
.t_code .diff .hljs-meta,
.t_code .hljs-keyword,
.t_code .hljs-template-tag,
.t_code .hljs-type {
    color: #B45BCF
}
.t_code .hljs-emphasis {
    color: #B45BCF;
    font-style: italic
}
.t_code .hljs-meta,
.t_code .hljs-meta .hljs-keyword,
.t_code .hljs-meta .hljs-string {
    color: #00F769
}
.t_code .hljs-meta .hljs-keyword,
.t_code .hljs-meta-keyword {
    font-weight: 700
}
.t_code pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 20px;
    font-family: 'NexonLv1Gothic';
    line-height: 1.6;
    margin-bottom: 20px;
    border-radius: 5px;
}
.t_code code.hljs {
    padding: 3px 5px
}
.t_code .hljs {
    color: #E9E9F4;
    background: #282936
}
.t_code .hljs ::selection,
.t_code .hljs::selection {
    background-color: #4D4F68;
    color: #E9E9F4
}
.t_code .hljs-comment {
    color: #626483
}
.t_code .hljs-tag {
    color: #62D6E8
}
.t_code .hljs-operator,
.t_code .hljs-punctuation,
.t_code .hljs-subst {
    color: #E9E9F4
}
.t_code .hljs-operator {
    opacity: .7
}
.t_code .hljs-bullet,
.t_code .hljs-deletion,
.t_code .hljs-name,
.t_code .hljs-selector-tag,
.t_code .hljs-template-variable,
.t_code .hljs-variable {
    color: #EA51B2
}
.t_code .hljs-attr,
.t_code .hljs-link,
.t_code .hljs-literal,
.t_code .hljs-number,
.t_code .hljs-symbol,
.t_code .hljs-variable.constant_ {
    color: #B45BCF
}
.t_code .hljs-class .hljs-title,
.t_code .hljs-title,
.t_code .hljs-title.class_ {
    color: #00F769
}
.t_code .hljs-strong {
    font-weight: 700;
    color: #00F769
}
.t_code .hljs-addition,
.t_code .hljs-code,
.t_code .hljs-string,
.t_code .hljs-title.class_.inherited__ {
    color: #EBFF87
}
.t_code .hljs-built_in,
.t_code .hljs-doctag,
.t_code .hljs-keyword.hljs-atrule,
.t_code .hljs-quote,
.t_code .hljs-regexp {
    color: #A1EFE4
}
.t_code .hljs-attribute,
.t_code .hljs-function .hljs-title,
.t_code .hljs-section,
.t_code .hljs-title.function_,
.t_code .ruby .hljs-property {
    color: #62D6E8
}
.t_code .diff .hljs-meta,
.t_code .hljs-keyword,
.t_code .hljs-template-tag,
.t_code .hljs-type {
    color: #B45BCF
}
.t_code .hljs-emphasis {
    color: #B45BCF;
    font-style: italic
}
.t_code .hljs-meta,
.t_code .hljs-meta .hljs-keyword,
.t_code .hljs-meta .hljs-string {
    color: #00F769
}
.t_code .hljs-meta .hljs-keyword,
.t_code .hljs-meta-keyword {
    font-weight: 700
}
