<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/dracula.css">
    <script src="../assets/js/highlight.min.js"></script>
</head>
<body>
    <header id="header">
    </header>
    <!-- //header -->
    <main id="main">
        <div class="document">
            <h2 class="t_tit">레이아웃</h2>
            <p class="t_box">
                레이아웃(layout, 배치라는 뜻)은 다음을 가리키는 말입니다.<br>
                페이지 레이아웃은 <i>컴퓨터 그래픽 디자인이나 소프트웨어 디자인에서 각 구성요소를 제한된 공간 안에 효과적으로 배열하는 일</i>을 의미합니다.
            </p>

            <hr>

            <h3 class="t_tit2">float</h3>
            <p class="t_desc2">
                CSS 속성(property) float 은 한 요소(element)가 보통 흐름(normal flow)으로부터 빠져 텍스트 및 인라인(inline) 요소가<br>
                그 주위를 감싸는 자기 컨테이너의 좌우측을 따라 배치되어야 함을 지정합니다.
            </p>
            <h4 class="t_tit3">Layout1</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="eYMEvJE" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/eYMEvJE">
                    레이아웃 01 folat</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>   
            </div>
            <h4 class="t_tit3">Layout2</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="abYyJdY" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/abYyJdY">
                    레이아웃02 float</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script> 
            </div>
            <h4 class="t_tit3">Layout3</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="QWmMpEK" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/QWmMpEK">
                    레이아웃03 float</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>  
            </div>
            
            <hr>

            <h3 class="t_tit2">flex</h3>
            <p class="t_desc2">
                flex CSS 속성은 하나의 플렉스 아이템이 자신의 컨테이너가 차지하는 공간에 맞추기 위해 크기를 키우거나 줄이는 방법을 설정하는 속성입니다.<br>
                flex는 flex-grow, flex-shrink, flex-basis의 단축 속성입니다.
            </p>
            <h4 class="t_tit3">Layout1</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="YzaxZyB" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/YzaxZyB">
                    레이아웃01 flex</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>
            <h4 class="t_tit3">Layout2</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="RwMZprO" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/RwMZprO">
                    레이아웃02 flex </a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>
            <h4 class="t_tit3">Layout3</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="zYWdZqR" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/zYWdZqR">
                    레이아웃03 flex</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>

            <hr>

            <h3 class="t_tit2">grid</h3>
            <p class="t_desc2">
                CSS 그리드 레이아웃은 웹페이지를 위한 이차원 레이아웃 시스템입니다.<br>
                이 기능을 통해 콘텐츠를 행과 열에 배치할 수 있으며 복잡한 레이아웃을 직접 직관적으로 구축할 수 있는 많은 기능이 있습니다.
            </p>
            <h4 class="t_tit3">Layout1</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="GRxvWpb" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/GRxvWpb">
                    레이아웃01 grid</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>
            <h4 class="t_tit3">Layout2</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="KKovWzN" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/KKovWzN">
                    레이아웃02 grid</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>
            <h4 class="t_tit3">Layout3</h4>
            <div class="t_code">
                <p class="codepen" data-height="300" data-default-tab="css" data-slug-hash="oNqeZxQ" data-user="hmm365" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/hmm365/pen/oNqeZxQ">
                    레이아웃03 grid</a> by hmm365 (<a href="https://codepen.io/hmm365">@hmm365</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            </div>
            
        </div>
    </main>
    <!-- //main -->
    <footer id="footer">
        <a href="mailto:happyham52@gmail.com">happyham52@gmail.com</a>
    </footer>
    <!-- //footer -->
    <script>
    hljs.highlightAll();
    </script> 
    <script>

    </script>
</body>
</html>
  