@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	font-family: "Galmuri9";
}

#header {
	position: fixed;
	width: 100%;
	background: #182747;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

#header h1 {
	font-size: 20px;
	color: #fff;
	padding: 5px 0;
}
#header .time {
	color: #fff;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: #182747;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	color: #fff;
}

.icon1 {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 54px;
}
.icon2 {
	position: absolute;
	left: 100px;
	top: 200px;
	width: 54px;
}
.icon3 {
	position: absolute;
	left: 100px;
	top: 300px;
	width: 54px;
}
.icon4 {
	position: absolute;
	left: 100px;
	top: 400px;
	width: 54px;
}
.icon5 {
	position: absolute;
	left: 100px;
	top: 500px;
	width: 54px;
}
.icon6 {
	position: absolute;
	left: 100px;
	top: 600px;
	width: 54px;
}
.icon_box img {
	width: 54px;
}
.icon_box span {
	display: inline-block;
	background: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	padding: 3px 5px;
	white-space: nowrap;
	color: #fff;
}
.mouse__cursor {
	position: absolute;
	left: 0;
	top: 0;
	width: 23px;
	user-select: none;
	pointer-events: none;
	cursor: none;
	z-index: 9999;
}
.mouse__cursor img {
	width: 100%;
}

/* 모달 */

.modal__btn span {
	white-space: nowrap;
	font-size: 14px;
	padding: 3px 5px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal__cont {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.539);
	position: fixed;
	left: 0;
	top: 0;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}
.modal__box {
	width: 90%;
	height: 80vh;
	/* overflow-y: auto; */
	border-radius: 0.6rem;
	box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
	transform: scale(0);
	/* overflow: hidden; */
}
.modal__box .title {
	padding-inline: 1rem;
	cursor: grab;
	background-color: hsl(180deg 4% 16%);
	display: flex;
	align-items: center;
	color: #fff;
	height: 50px;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
.modal__box .title .dot {
	width: 15px;
	height: 15px;
	background-color: rgb(249, 225, 47);
	display: inline-block;
	border-radius: 50%;
	position: relative;
	margin-left: 30px;
}
.modal__box .title .dot::before {
	content: "";
	position: absolute;
	left: 25px;
	top: 0;
	width: 15px;
	height: 15px;
	background-color: rgb(81, 249, 47);
	border-radius: 50%;
}
.modal__box .title .dot::after {
	content: "";
	position: absolute;
	right: 25px;
	top: 0;
	width: 15px;
	height: 15px;
	background-color: rgb(237, 73, 36);
	border-radius: 50%;
}
.modal__box .title .plus {
	padding: 0.5rem 0.5rem 0.3rem 0.5rem;
	background: hsl(22deg 3% 24%);
	border-radius: 0.5rem;
}
.modal__box .title .tabs {
	display: flex;
	margin-left: 50px;
}
.modal__box .title .tabs > div {
	color: hsl(194deg 26% 60%);
	background-color: hsl(22deg 3% 24%);
	padding: 0.35rem 0.8rem 0.25rem 0.8rem;
	margin-right: 0.8rem;
	display: flex;
	align-items: center;
	border-radius: 0.3rem;
	text-transform: uppercase;
	cursor: pointer;
}
.modal__box .title .tabs > div.active {
	background-color: rgb(90, 87, 84);
}
.modal__box .title .tabs > div em {
	font-style: normal;
}
.modal__box .title .tabs > div .favicon {
	margin-right: 0.4rem;
	margin-top: 0.2rem;
}
.modal__box .title .tabs > div .close {
	margin-left: 3rem;
}
.modal__box .cont {
	background-color: #282c34;
	height: 100%;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	overflow-y: auto;
}
.modal__box .cont > div {
	display: none;
}
.modal__box .cont > div.active {
	display: block;
	height: 100%;
}
.modal__close {
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: hsl(22deg 3% 24%);
	padding: 1rem 1rem 0.8rem 1rem;
	border-radius: 5px;
	box-shadow: 0 5px 7px -5px rgba(25, 26, 26, 0.947);
	transition: all 0.3s;
}
.modal__close:hover {
	background-color: rgb(90, 87, 84);
}
.modal__close svg {
	color: #fff;
}
/* 모달 애니메이션 */
.modal__cont.show {
	/* 전체 배경 */
	animation: foldOut 0.5s ease forwards;
}
.modal__cont.show.hide {
	/* 스크립트 박스 */
	animation: foldIn 0.3s 0.5s ease backwards;
}
.modal__cont.show .modal__close {
	/* 닫기 버튼 */
	animation: opacityOut 0.5s 1s ease forwards;
	opacity: 0;
}
.modal__cont.show .modal__box {
	animation: zoomOut 0.5s 1s ease forwards; /* 뒤에 있는 초는 딜레이를 뜻함 */
}
.modal__cont.show.hide .modal__box {
	animation: zoomIn 0.5s ease forwards;
}
.modal__cont.show.hide .modal__close {
	animation: opacityIn 0.5s ease forwards;
}
@keyframes foldOut {
	0% {
		transform: scaleX(0.001) scaleY(0);
	}
	50% {
		transform: scaleX(0.001) scaleY(1);
	}
	100% {
		transform: scaleX(1) scaleY(1);
	}
}
@keyframes foldIn {
	0% {
		transform: scaleX(1) scaleY(1);
	}
	50% {
		transform: scaleX(0.001) scaleY(1);
	}
	100% {
		transform: scaleX(0.001) scaleY(0);
	}
}
@keyframes zoomOut {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes zoomIn {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes opacityOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes opacityIn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
