.music__wrap {
	display: none;
}
.music__wrap.open {
	display: block;
}
.music__inner {
	width: 500px;
	background: #000;
	position: absolute;
	right: 100px;
	top: 100px;
	padding: 10px;
	padding-top: 0;
}
.music__header {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}
.music__header h2 {
	font-size: 14px;
}
.music__contents {
	background: #c4c4c4;
	width: 100%;
}
.music__view {
	display: flex;
	padding: 20px;
}
.music__view .img {
	width: 30%;
}
.music__view .img img {
	width: 100%;
}
.music__view .title {
	width: 70%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.music__view .title h3 {
	margin-bottom: 5px;
	font-size: 30px;
	line-height: 1.2;
}
.music__view .title p {
	color: #f6464e;
}
.music__control {
	width: 100%;
	height: 100px;
	padding: 20px;
	padding-top: 0;
}
.music__control .progress {
	width: 100%;
	height: 6px;
	background: #000;
	border-radius: 5px;
}
.music__control .progress .bar {
	width: 0%;
	height: inherit;
	background: #00ffc6;
	border-radius: 5px;
}
.music__control .progress .timer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3px;
}
.music__control .control {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 30px;
	margin-top: 40px;
}

.music__control .control .repeat {
	width: 24px;
	height: 24px;
	background: url(../img/music_icon.svg) no-repeat;
	background-position: -100px;
}
.music__control .control .repeat_one {
	width: 24px;
	height: 24px;
	background: url(../img/music_icon.svg) no-repeat;
	background-position: -175px;
}
.music__control .control .shuffle {
	width: 24px;
	height: 24px;
	background: url(../img/music_icon.svg) no-repeat;
	background-position: -125px;
}
.music__control .control .prev {
	width: 24px;
	height: 24px;
	background: url(../img/music_icon.svg) no-repeat;
	background-position: -75px;
}
.music__control .control .next {
	background: url(../img/music_icon.svg) no-repeat;
	width: 24px;
	height: 24px;
	background-position: -50px;
}
.music__control .control .play {
	width: 24px;
	height: 24px;
	background: url(../img/music_icon.svg) no-repeat;
}
.music__control .control .stop {
	background: url(../img/music_icon.svg) no-repeat;
	width: 24px;
	height: 24px;
	background-position: -25px;
}
.music__control .control .list {
	background: url(../img/music_icon.svg) no-repeat;
	width: 24px;
	height: 24px;
	background-position: -150px;
}

.music__footer {
	background: #c4c4c4;
}
.music__list {
	padding: 20px;
	display: none;
}
.music__list.open {
	display: block;
}

.music__list h3 {
	font-size: 24px;
	margin-bottom: 10px;
	position: relative;
}
.music__list h3 .list {
	display: inline-block;
	background: url(../img/music_icon.svg) no-repeat;
	width: 24px;
	height: 24px;
	background-position: -142px;
	margin-right: 5px;
}
.music__list h3 .close {
	position: absolute;
	right: 0;
	display: inline-block;
	background: url(../img/music_icon.svg) no-repeat;
	width: 24px;
	height: 24px;
	background-position: -190px;
	background-size: 216px;
	margin-right: 5px;
}
.music__list ul {
	max-height: 200px;
	overflow-y: scroll;
}
.music__list li {
	border-bottom: 2px solid #000;
	list-style: none;
	position: relative;
	padding: 5px 0;
	padding-top: 5px;
}
.music__list li:hover {
	background-color: #b1b1b1;
}
.music__list li.playing {
	color: #a460ed;
	background-color: #b1b1b1;
}
.music__list li strong {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}
.music__list li em {
	font-style: normal;
}
.music__list li span {
	position: absolute;
	right: 0;
	top: 40px;
}

/* 스크롤 바 */
.music__list ul::-webkit-scrollbar {
	width: 8px;
	background-color: #ccc;
	border-radius: 10px;
}
.music__list ul::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgb(104, 104, 104);
}

.music__list ul::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #06283d;
	border: 1px solid #aaa;
}

.music__list ul::-webkit-scrollbar-thumb:hover {
	background: #fff;
}
