:root {
    --htmlColor: #223547;
    --cssColor: #472222;
    --javascriptColor: #224736;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NexonLv1Gothic";
    color: var(--htmlColor);
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    color: var(--htmlColor);
    text-decoration: none;
}
li {
    list-style: none;
}
/* header */
#header {
    display: flex;
    justify-content: space-between;
}
#header nav {
    margin: 10px;
}
#header nav li {
    position: relative;
    display: inline;
}
#header nav li a {
    width: 30px;
    height: 30px;
    border: 1px solid var(--htmlColor);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: "NexonLv1Gothic";
}
#header nav li.active a {
    background-color: var(--htmlColor);
    color: #fff;
}
#header nav li .sub {
    position: absolute;
    left: 0;
    top: 35px;
    width: 400px;
}
#header nav li .sub li a {
    width: auto;
    background-color: transparent;
    color: var(--htmlColor);
    border: 0;
    text-align: left;
    line-height: 1.2;
}
#header nav li .sub li.active a {
    text-decoration: underline;
}
/* main */
#main {
    margin: 50px 10px;
}
.search__wrap {
    max-width: 1400px;
    margin: 0 auto;
    border: 3px solid var(--htmlColor);
    border-radius: 20px;
    background-color: #f1f3f6;
    padding: 30px;
    text-align: center;
}
.search__wrap > span {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.search__wrap > h1 a {
    font-family: "Tmon";
    color: var(--htmlColor);
    font-size: 5vw;
    margin-bottom: 10px;
}
.search__wrap .desc {
    line-height: 1.4;
    padding: 20px 0;
}
.search__wrap .time {
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--htmlColor);
}
.search__wrap .time span {
    color: #fff;
    font-size: 34px;
    font-weight: 100;
}
.search__box {
    margin-bottom: 20px;
    position: relative;
}
.search__box label {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.search__box input {
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    width: 30%;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 20px;
}
.search__box .start {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #223547;
    width: 30%;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    color: #fff;
    cursor: pointer;
}
.search__list li {
    text-align: left;
    line-height: 1.7;
}
.search__list li.show {
    display: block;
}
.search__list li.hide {
    display: none;
}
.search__list span {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    margin: 5px;
    transition: all 0.3s;
    cursor: pointer;
}
.search__list span:hover {
    background-color: var(--htmlColor);
    color: #fff;
}
.search__list em {
    float: right;
    font-style: normal;
}
.search__list .line {
    margin: 50px 0;
}
.search__list .line li {
    background: #e3eaf5;
    padding: 10px 30px;
    margin-bottom: 5px;
    border-radius: 50px;
}
.search__list .line li:hover {
    background: #d3e2fa;
    cursor: pointer;
}
.search__info {
    text-align: right;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--htmlColor);
}
.search__info.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.search__info .type {
    text-align: center;
    margin-bottom: 10px;
}
.search__info .keyword {
    text-align: center;
    margin-bottom: 10px;
}
.search__info .keyword span {
    border: 2px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 4px;
}
.search__info .keyword span:hover {
    background-color: var(--htmlColor);
    color: #fff;
    cursor: pointer;
}
.search__desc {
    padding: 20px 40px 20px 60px;
    margin-bottom: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color: var(--htmlColor);
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='8' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 16.958L21.5 21.958' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 22px 17px;
}
.search__click {
    margin-top: 10px;
    margin-bottom: 30px;
}
.search__click li {
    display: inline;
}
.search__click li a {
    display: inline-block;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px 0;
}
.search__click li a:hover {
    background-color: var(--htmlColor);
    color: #fff;
}
@media (max-width: 1200px) {
    .search__box input {
        width: 80%;
    }
    .search__box .start {
        width: 80%;
    }
}
@media (max-width: 600px) {
    .search__wrap {
        padding: 20px;
    }
    .search__wrap > span {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .search__wrap > h1 {
        font-size: 44px;
    }
    .search__box input {
        font-size: 16px;
        padding: 12px 30px;
    }
}
/* footer */
#footer {
    text-align: center;
}
#footer a {
    color: #000;
    font-family: "NexonLv1Gothic";
    padding-bottom: 50px;
}
#footer a:hover {
    text-decoration: underline;
}
.search__answers {
    border-bottom: 2px dashed var(--htmlColor);
    padding-bottom: 40px;
    /* display: none; */
}
.search__answers span {
    display: inline-block;
    background: var(--htmlColor);
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    margin: 3px;
}
.search__missAnswers {
    border-bottom: 2px dashed var(--htmlColor);
    padding: 40px 0;
    /* display: none; */
}
.search__missAnswers span {
    display: inline-block;
    border: 1px solid var(--htmlColor);
    color: var(--htmlColor);
    padding: 10px 20px;
    border-radius: 30px;
    margin: 3px;
}
/* 이미지 대체(ir) 효과 */
.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999;
}
.search__audio {
    margin-bottom: 20px;
}
.search__audio #play {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/Volume_Up.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.search__audio #stop {
    width: 24px;
    height: 24px;
    background-image: url(../img/Volume_Down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.search__result {
    position: fixed;
    right: 1vw;
    top: 1vw;
    width: 40vw;
    height: 40vw;
    z-index: 10000;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    border: 6px solid #946bc5;
    display: none;
}
.search__result.show {
    display: flex;
    animation: rubberBand 1s 0.6s ease;
    transform: scale3d(1, 1, 1);
}
.search__result .result {
    padding: 10px;
    margin-top: 30px;
    font-size: 1.4vw;
    line-height: 1.5;
}
.search__result .restart {
    background: #946bc5;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
}
@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
