.tetris__wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}
.tetris__wrap.open {
    display: block;
}
.tetris__inner {
    background: rgb(69, 69, 69);
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
}

.tetris__header {
    padding-inline: 2rem;
    background-color: hsl(180deg 4% 16%);
    display: flex;
    align-items: center;
    color: #fff;
    height: 40px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;
}
.tetris__header h2 {
    margin-left: 40px;
    font-size: 18px;
}
.tetris__header .dot {
    width: 15px;
    height: 15px;
    background-color: rgb(249, 225, 47);
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.tetris__header .dot::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(81, 249, 47);
    border-radius: 50%;
}
.tetris__header .dot::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(237, 73, 36);
    border-radius: 50%;
}
.tetris__header .tetris__close {
    background: url(../img/close.svg);
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
}

.tetris__start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(101, 96, 244);
    padding: 20px;
    background: rgb(29, 29, 29);
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}
.tetris__over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(29, 29, 29, 0.6);
    width: 80%;
}
.tetris__over span {
    text-align: center;
    display: block;
    color: rgb(101, 96, 244);
    padding: 20px;
    background: #000;
    border-radius: 10px;
    font-size: 30px;
    margin: 20px;
}
.tetris__over .tetris__restart {
    cursor: pointer;
}
.tetris__play {
}
.playground {
}
.playground > ul {
    border: 3px solid hsl(180deg 4% 16%);
}
.playground > ul > li {
    list-style: none;
}
.playground > ul > li > ul {
    display: flex;
}
.playground > ul > li > ul > li {
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.scoreTBox {
    display: flex;
    justify-content: space-between;
}
.scoreT {
    margin-left: 20px;
    font-size: 20px;
    color: rgb(176, 176, 176);
    padding: 10px;
}
.scoreT em {
    font-style: normal;
}
.scoreL {
    margin-right: 20px;
    font-size: 20px;
    color: rgb(176, 176, 176);
    padding: 10px;
}
.scoreL em {
    font-style: normal;
}
.Tmino {
    background: #942e97;
    border: 10px #942e97 outset !important;
}
.Lmino {
    background: #ff7900;
    border: 10px #ff7900 outset !important;
}
.Jmino {
    background: #0265bd;
    border: 10px #0265bd outset !important;
}
.Zmino {
    background: #ed2938;
    border: 10px #ed2938 outset !important;
}
.Smino {
    background: #6abe28;
    border: 10px #6abe28 outset !important;
}
.Omino {
    background: #fecb00;
    border: 10px #fecb00 outset !important;
}
.Imino {
    background: #00a0da;
    border: 10px #00a0da outset !important;
}
