.header__inner {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #f6f8fd;
    backdrop-filter: blur(10px);
    z-index: 2000;
    padding: 0 20px;
}
.header__logo {
    margin: 20px 0 25px 0;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.header__menu {
    text-align: center;
}
.header__menu ul {
    margin-bottom: 20px;
}
.header__menu li {
    display: inline;
}
.header__menu li a {
    margin: 0 50px 0 50px;
}
.header__menu li:hover a {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.ham_menu {
    position: absolute !important;
    top: 50%;
    right: -40px;
    display: block;
    width: 40px;
    height: 36px;
    position: relative;
    cursor: pointer;
}
.ham_menu div {
    position: absolute;
    right: 0;
    height: 4px;
    border-radius: 2px;
    background: #000;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease 0.2s;
}
.ham_menu input {
    display: none;
}
.ham_menu input + div {
    top: 50%;
    left: 0;
    margin: -2px 0 0 0;
    width: 40px;
    transform-origin: 50% 50%;
}
.ham_menu input + div + div {
    top: 2px;
    left: 0;
    width: 20px;
    transform-origin: 0 50%;
}
.ham_menu input + div + div + div {
    bottom: 2px;
    right: 0;
    width: 28px;
    transform-origin: 100% 50%;
    transform: translate(-12px, 0);
}
.ham_menu.active input + div {
    transform: rotate(-45deg);
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}
.ham_menu.active input + div + div {
    width: 19px;
    transform: translate(6px, 0) rotate(45deg);
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
}
.ham_menu.active input + div + div + div {
    width: 19px;
    transform: translate(-6px, 0) rotate(45deg);
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
}

/* media */
@media (max-width: 1300px) {
    .header__ham {
        display: block;
    }
    .header__member {
        margin-right: 70px;
        width: 20%;
        text-align: right;
    }
    .header__member a {
        font-size: 16px;
        border: 1px solid #000;
        padding: 10px 30px;
        border-radius: 50px;
        transition: all 0.3s;
        white-space: nowrap;
    }
    .header__menu {
        position: fixed;
        right: -100%;
        top: 80px;
        width: 60%;
        height: 100vh;
        padding: 20px;
        text-align: right;
        transition: right 0.4s ease-in;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .header__menu ul li {
        display: block;
        margin: 20px;
    }
    .header__member a:hover {
        background-color: #000;
        color: #fff;
    }
    .header__menu li.active a {
        background-color: #000;
        color: #fff;
        border-radius: 5px;
    }
    .header__menu ul li a {
        padding: 10px;
        white-space: nowrap;
        padding-bottom: 5px;
        font-size: 18px;
    }
    .header__menu.active {
        right: 0;
    }
    .header__menu li:nth-child(1) a {
        transition: opacity 0.3s 0.8s;
    }
    .header__menu li:nth-child(2) a {
        transition: opacity 0.3s 1s;
    }
    .header__menu li:nth-child(3) a {
        transition: opacity 0.3s 1.2s;
    }
    .header__menu li:nth-child(4) a {
        transition: opacity 0.3s 1.4s;
    }
    .header__menu li:nth-child(5) a {
        transition: opacity 0.3s 1.6s;
    }
    .ham_menu {
        right: 40px;
        top: 20px;
    }
}
