/* 여백 초기화 */
* {
    margin: 0;
    padding: 0;
}

/* 링크 초기화 */
a {
    text-decoration: none;
    color: #222;
}

/* 목록 초기화 */
li {
    list-style: none;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 볼드체 초기화 */
strong {
    font-weight: normal;
}

/* 이탈리 초기화 */
em,
i {
    font-style: normal;
}

/* 테이블 초기화 */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

/* 기본셋팅 */
:root {
    font-size: 22px;
    --fontTitle: "OKDdung";
    --fontSub: "UtoImageTree";
    --fontDocs: "SCoreDream";
    --white: #ffff;
    --black: #000;
    --orange: #e5774f;
    --orange2: #eb943a;
    --red: #c54435;
    --bgMain: #f4b861;
    --bgSub: #fef2e0;
    --brown: #762917;
}

/* 레이아웃 */
body {
    background-color: var(--bgMain);
}
#header {
}
#main {
}
#footer {
    padding: 40px 0;
    text-align: center;
}
#footer a:hover {
    text-decoration: underline;
}

/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; /*반응형*/
}

/* main__title */
.main__title {
    display: none;
    margin: 200px 20px;
    border: 4px solid var(--brown);
    background-color: var(--bgSub);
    padding: 80px;
    text-align: center;
}
.main__title h1 strong {
    color: var(--orange2);
}
.main__title h1 {
    font-family: var(--fontTitle);
    font-size: 8vw;
    color: var(--orange);
    white-space: nowrap; /* 줄바꿈 기능 x*/
}
.main__title em {
    font-family: var(--fontSub);
    font-size: 100px;
    color: var(--brown);
}
.main__title p {
    font-family: var(--fontSub);
    font-size: 30px;
    color: var(--brown);
    margin-top: 50px;
}

/* main__desc */
.main__desc {
    margin: 200px 20px;
    border: 4px solid var(--brown);
    background-color: var(--bgSub);
    padding: 120px 80px 80px 80px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 100px;
}
.main__desc .deco {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding-top: 10px;
    white-space: nowrap;
    width: 90%;
    /* background: #000; */
}
.main__desc .deco span {
    width: 30px;
    height: 30px;
    border: 10px solid var(--brown);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--bgMain);
    margin: 0 1%;
    position: relative;
}
.main__desc .deco span::after {
    content: "";
    width: 10px;
    height: 13px;
    background-color: var(--brown);
    position: absolute;
    left: 0;
    top: -20px;
}
.main__desc .title {
    margin-bottom: 2rem;
}
.main__desc .title h2 {
    display: inline-block;
    border: 4px solid var(--brown);
    font-size: 2rem; /*1rem=22px로 맞춰놓음*/
    padding: 0.7rem 1rem 0.5rem 80px;
    font-family: var(--fontDocs);
    font-weight: 900;
    color: var(--brown);
    position: relative;
    box-sizing: border-box;
}

.main__desc .title h2::before {
    content: "";
    width: 50px;
    height: 100%;
    background-color: var(--red);
    position: absolute;
    left: 0;
    top: 0;
    border-right: 4px solid var(--brown);
}
.main__desc .title p {
    font-family: var(--fontSub);
    font-size: 1.3rem;
    line-height: 1.3;
    color: var(--brown);
}
.main__desc .subTitle {
}
.main__desc .subTitle ul {
    overflow: hidden;
}
.main__desc .subTitle li {
    float: left;
    margin-right: -4px; /*margin만 -값을 쓸 수 있음 */
    margin-bottom: -4px;
}
.main__desc .subTitle li a {
    font-size: 0.8rem;
    font-family: var(--fontDocs);
    border: 4px solid var(--brown);
    padding: 0.3em 0.6em; /*em은 부모요소 크기의 배수*/
    display: inline-block;
}
.main__desc .subTitle li.active a {
    background-color: var(--brown);
    color: var(--white);
}
.main__desc .subContents > div {
    display: none;
}
.main__desc .subContents > div.active {
    display: block;
}
.main__desc .table {
    border: 3px solid var(--brown);
    font-family: var(--fontDocs);
    font-size: 0.7rem;
}
.main__desc .table tr th {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: normal;
}
.main__desc .table tr th,
.main__desc .table tr td {
    border: 1px solid var(--brown);
    padding: 10px;
    text-align: center;
}
.main__desc .table tr td:nth-child(3) {
    text-align: left;
}
.main__desc .table tr td span {
    font-size: 16px;
    padding-top: 4px;
}
.main__desc .table.rowTable tr td:nth-child(2),
.main__desc .table.rowTable tr td:nth-child(3) {
    text-align: center;
}
.main__desc .table.rowTable .left {
    text-align: left !important;
}
