.banner__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
}
.banner__inner.under {
    border-bottom: 3px solid #000;
    margin-bottom: 100px;
    padding: 50px 0;
}
.banner__inner.under::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.banner__inner .img {
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
    filter: saturate(0%);
}

.banner__inner .desc {
    width: 65%;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
    word-break: keep-all;
}

.banner__inner .desc em {
    color: #927352;
    position: relative;
    transition: color 0.3s;
}

.banner__inner .desc em::before {
    content: "";
    width: 0%;
    height: 100%;
    background: #f0dac2;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.6s;
}
.banner__inner .desc .alert {
    text-decoration: underline;
    text-underline-position: under;
}

.banner__inner:hover .img {
    filter: saturate(100%);
}

.banner__inner:hover .desc em {
    color: #000;
}

.banner__inner:hover .desc em::before {
    width: 100%;
}

/* .banner__inner style2 */
.banner__inner.style2 {
    position: relative;
    padding: 100px 0 0;
    text-align: center;
}

.banner__inner.style2 .img {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 0;
}

.banner__inner.style2 .desc {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
    word-break: keep-all;
}
.banner__inner.style2 .btn {
    width: 20%;
    margin: 0 auto;
}



