.board__nav {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.board__nav ul {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #9e9e9e;
    height: 60px;
}
.board__nav li {
    display: inline;
    width: 25%;
    text-align: center;
    position: relative;
}
.board__nav li.active {
    background: #eb6553;
}
.board__nav li.active a {
    color: #fff;
}
.board__nav li a {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* board list */
#board > h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.board__table table {
    width: 100%;
    border-top: 1px solid #000;
    border-collapse: collapse;
}

.board__table th {
    font-size: 25px;
    border-bottom: 1px solid #eaeaea;
    padding-top: 20px;
    padding-bottom: 15px;
}
.board__table td {
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #eaeaea;
    padding: 20px 0;
}
