/* 웹폰트 */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
@import url('https://webfontworld.github.io/tmon/Tmon.css');
/* 리셋 */
/* 여백 초기화 */
* {
    font-family: 'NexonLv1Gothic';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
}

/* 링크 초기화 */
a {
    text-decoration: none;
    color: #222;
}

/* 목록 초기화 */
li {
    list-style: none;
}

/* 제목 초기화 */
h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/* 기울기 초기화 */
em,
i {
    font-style: normal;
}
/* 레이아웃 */
body {
    background-color: #f5f5f5;
}
/* 테이블 초기화 */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

/* 전체영역 */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    padding: 14px 20px 5px 20px;
    box-sizing: border-box;

    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

#footer {
    border-bottom: 1px dashed #dcdcdc;
    padding: 40px 0;
    text-align: center;
}
#footer a:hover {
    text-decoration: underline;
}

/* header 영역 */

#header {
    padding: 14px 20px 5px 20px;
}

#header h1 a{
   font-size: 36px; 
   font-weight: 500;
}

#header span {
    padding-top: 20px;
    color: #666;
}

/* main 영역 */
.main_header {
}

.main_header h2{
    font-size: 80px;
    text-align: center;
    padding: 10% 10% 5% 10%;
    font-family: "Tmon";
}

.main_header h2 em{
    font-size: 80px;
    color: #00DB72;
    font-family: "Tmon";
}


.main_menu ul li {
    display: inline;
}
.main_menu ul li a {
    padding: 5px 15px;
    margin-bottom: 5px;
    display: inline-block;
    background-color: #00DB72;
    color: #fff;
}
.main_menu li.active a {
    background-color: #000;
    color: #fff;
}

.main_refer {
    border: 1px solid #000;
    padding: 30px;
    background-color: #fff;
    margin-top: 20px;
}
.main_refer .table table {
    width: 100%;
    border: 1px solid #cdcdcd;
    text-align: center;
}
.main_refer .table table tr th {
    font-weight: normal;
    background-color: #f5f5f5;
}

.main_refer .table table tr th,
.main_refer .table table tr td {
    border: 1px solid #cdcdcd;
    padding: 10px;
}
.main_refer .table table tr td span{
    font-size: 16px;
}
.main_refer .table table tr td:nth-child(3){
    text-align: left;
}
.main_refer .table table tr:hover {
    line-height: 1.6;
    background-color: #00db712c;
}

.main_refer .table table tr a:hover {
    text-decoration: underline;
}

@media(max-width: 900px) {
    #header {
        display: none;
    }
    .main_header h2 {
        padding-top: 40px;
        font-size: 40px;
    }
    .main_header h2 em{
        font-size: 40px;
    }
    .main_refer {
        border: 0;
        padding: 0;
    }
    .main_refer .table {
        overflow-x: auto;
    }
    .main_refer .table table {
        min-width: 800px;
    }
    .main_refer .table table tr th,
    .main_refer .table table tr td {
        font-size: 14px;
    }
}

@media(max-width: 460px) {
    .main_header h2 {
        padding-top: 20px;
        font-size: 30px;
    }
    .main_header h2 em{
        font-size: 30px;
    }
}

/* Tistroy 용 문서 */

.document i {
    position: relative;
    font-style: normal;
}
.document hr {
    border: 0;
    border-top: 1px dashed #dcdcdc;
    margin-top: 45px;
}
.document i::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #0242f136;
}
.document .t_tit {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_tit2 {
    font-size: 22px;
    line-height: 1.6;
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_tit3 {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_desc {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px !important;
}
.document .t_desc2 {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px !important;
    padding: 15px 20px !important;
    border-left: 4px solid #00DB72;
    background-color: #f9f9f9;
}
.document .t_box {
    padding: 20px !important;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    color: #666;
    border-radius: 5px;
}
.document .t_table {
    border: 1px solid #f9f9f9;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.document .t_table tr th {
    background-color: #f9f9f9;
}
.document .t_table tr th,
.document .t_table tr td {
    border: 1px solid #dcdcdc;
    font-weight: normal;
    padding: 8px 10px;
    color: #666;
}
.document .t_table .ce {
    text-align: center;
}

.document .t_result {
    margin-bottom: 40px;
}

.document .t_iframe {
    position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;
}

.document .t_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}