/* 섹션 공통요소 */
.section {
    padding: 120px 0;
    text-align: center;
}
.section > h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1;
}
.section > p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 70px;
    line-height: 1.5;
    color: #777;
}
.section__desc em {
    font-style: normal;
    text-decoration: underline;
    text-underline-position: under;
}

/* 지마켓 폰트 */
.gmarket {
    font-family: "GmarketSans";
}
.nexon {
    font-family: "NexonLv1Gothic";
}

/* 가운데 영역 */
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    /* background: rgba(0,0,0,0.3); */
}

/* 배경색 */
.gray {
    background-color: #F0F0F0;
}
.gray2 {
    background-color: #F6F8FD;
}


